icomoon-font-path ?= "fonts"

icon-category = "\e903"
icon-male = "\e904"
icon-female = "\e905"
icon-check = "\e908"
icon-rank = "\e907"
icon-money = "\e906"
icon-search = "\e900"
icon-uncheck = "\e901"
icon-user = "\e902"

