section.folder
  h3.title 类别标签
  ul.tags-list
    li.tag
      span 寻母探险
    li.tag
      span 旋翼机了
section.folder
  h3.title 作者其他图书
  ul.imgs-list
    li.item
      .img
        img(src='')
        p.book-title 盗墓笔记
section.folder
  h3.title 喜欢本书的人也喜欢
  ul.imgs-list
    li.item
      .img
        img(src='')
        p.book-title xxx
    li.item
      .img
        img(src='')
        p.book-title xxx
    li.item
      .img
        img(src='')
        p.book-title xxx
section.folder
  h3.title 图书信息
  p.text 版权：xxxxxxx

