.channel-special
  border-bottom 10px solid #f5f5f5
  .channel-special--header
    height 3em
    line-height 3
    border-bottom 1px solid #cccccc
    .channel-special--header-title
      font-size 16px
      font-weight 400
      float left
      padding-left 4%
      &:after
        content '热'
        display inline-block
        vertical-align 3px
        font 12px / 1 a
        padding 0.05em 0.5em
        margin-left 0.4em
        color #ffffff
        background-color #fe771a
        border-radius 1px
  .channel-spacial--banner
    margin 0 5%
    .item
      margin 10px 0 15px
      box-shadow 0px 6px 5px -3px #aaaaaa
      border 1px solid #ebebeb
      a
        margin 0 auto
        display block
        width 100%
        height 150px
        img
          width 100%
          height 100%
  .channel-special--footer
    border-top 1px solid #f0f0f0
    text-align center
    line-height 3
    display block
    height @line-height em
    font-size 13px
    &:after
      content ' >>'
