html
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no,minimal-ui')
    meta(name='format-detection' content='telephone=no')
    title #{title}
    script(src='/loader.js')
    block style
  body
    block content
    block script
