extends ../../../layout
block style
  - var name = 'channel_module1'
  link(rel='stylesheet' href='/common-include/header/font-icon/font.min.css')
  link(rel='stylesheet' href='/#{name}/main.min.css')
block content
  #app
    include ../../../common-include/common-header
    .container
      include include/module2
block script
  script(src='//cdn.bootcss.com/vue/2.2.1/vue.min.js')
  script(src='//cdn.bootcss.com/axios/0.15.3/axios.min.js')
  script(src='/#{name}/bundle.min.js')
