extends ../../layout
block style
  link(rel='stylesheet' href='/index/font-icon/font.min.css')
  link(rel='stylesheet' href='/index/main.min.css')
block content
  #app
    include include/header
    #container
      #book-store(v-bind:style='{transition:shelfDuration,transform:`translate3d(${storePosition},0,0)`}')
        include include/top
        include include/special
        include include/hot-free
        include include/recommend
        include include/female
        include include/male
        include include/free
      #book-shelf(v-bind:style='{transition:shelfDuration,transform:`translate3d(${shelfPosition},0,0)`}')
        include include/shelf
block script
  script(src='//cdn.bootcss.com/vue/2.2.1/vue.min.js')
  script(src='//cdn.bootcss.com/axios/0.15.3/axios.min.js')
  script(src='/index/bundle.min.js')
