extends ../../layout
block style
  link(rel='stylesheet' href='/index/font-icon/index/font.min.css')
  link(rel='stylesheet' href='/index/main.min.css')

block content
  include include/header
  .container
    include include/top
    include include/special
    include include/hot-free
    include include/recommend
    include include/female
    include include/male
    include include/free
block script

