//body退位，只需要设置：
//滚动元素父元素：height：100%
//滚动元素：height：100%，overflow：hidden，overflow-y：auto
#app
  height 100%
  position relative
  .container
    height 100%
    overflow hidden
    overflow-y auto
    position absolute
    top 50px
    left 0
    right 0
    bottom 0

