@media screen and (max-width 340px)
  .book-2,.book
    transform scale(0.96) !important
@media screen and (min-width 370px)
  .book--no-img
      padding-left 3% !important
@media screen and (min-width 480px)
  .book-table
    li
      width (100% / 4) !important

@media screen and (min-width 560px)
  .book-table
    li
      width (100% / 5) !important

@media screen and (max-width 560px)
  .list
    .book,.book-2
      .book--cover
        width 28% !important
      .book--info
        width 72% !important
        display inline-block !important

@media screen and (min-width 768px)
  .book-table
    li
      width (100% / 6) !important

  .list
    .book
      transform scale(1.1) !important
      margin 0 5% !important
      width 40% !important
      box-sizing border-box !important
      display inline-block !important
      border none !important
      .book--cover
        width 30% !important
      .book--info
        width 70% !important
        display inline-block !important
    .book-2
      transform scale(1.1) !important
      margin 1% 7% 0 !important
      border none !important
    .book--no-img-wrap
      margin 0em 7% 2em !important
      .book--no-img
          //padding-left 6% !important
          width 50% !important
          display inline-block !important
          border none !important
          margin 0.46em 0 !important
          transform scale(1.16)
          padding-left 1.5em  !important

  .channel-recommend
    .list
      margin-bottom 20px !important
