body,html
 height 100%
#app
  min-height 100%
  background-color #fff
//  max-width 480px
//  min-width 300px
//  margin auto
//  box-shadow 1px 1px 6px #fff
.list
  .book-2,.book,.book--no-img
    margin 0 4% !important
    .book--info
      padding-right 2% !important