header#header
  ul.header-tab
    li.item
      i.header-check.icon.icon-check
    li.item.item-bookshelf
      a.select(href="javascript:") 书城
    li.item.item-bookstore
      a(href="javascript:") 书架
    li.item
      a(href="#")
        i.header-user.icon.icon-user
    i.item-line-x(style="transition-duration:0;transform:translate3d(0,0,0)")
