section.channel-hot
  .channel-hot--header
    h2.channel-hot--header-title 本周最火
  ul.book-table
    li(v-for='(item,index) in data.hot.data' v-if='index < bookLimitNum2')
      .book
        .book-cover
          a(:href='"/book?id=" + item.fiction_id')
            img(:src='item.cover')
            .book-rt-icon.hotfiction
        .book-info
          h3.book-title {{item.title}}
  a.chanel-hot--footer(href='/channel/hot') 查看更多