section.channel-male
  .channel-male--header
    .channel-male--header-title 男生最爱
  ul.list
    li.book(v-for='(item,index) in maleData')
      .book--cover
        .book-cover
          a(:href='"/book?id=" + item.fiction_id')
            img(:src='item.cover')
          p.book--cover-finish {{(item.finish)?"完结":"未完结"}}
      .book--info
        p.book-title {{item.title}}
        p.book-author {{item.authors}}
        p.book-summary {{item.summary}}
        .book--tap
          .book--tap-item(v-for='(tag,index) in item.tags' v-if='index < bookTagLimitNum') {{tag}}
  .channel-male--footer-next
    a.item.channel-male--footer-next-change(href='javascript:' @click='dataExchange("male")') 换一换
    a.item.channel-male--footer-next-channel(href='/channel/male') 男生频道

