section.top-home
  ul.top-home--banner
    li(v-for='item in data.top.data' v-if='trim(item.ad_pic_url) !== ""')
      a(href="#")
        img.cover(v-bind:src='item.ad_pic_url')
  ul.top-home--btn
    li.item
      a(href="/free")
        i.icon.icon-money
        p 免费
    li.item
      a(href="/male")
        i.icon.icon-male
        p 男生
    li.item
      a(href="/female")
        i.icon.icon-female
        p 女生
    li.item
      a(href="/sort")
        i.icon.icon-category
        p 分类
    li.item
      a(href="/rank")
        i.icon.icon-rank
        p 排行