header.top
  a
    display inline-block
  height 40px
  line-height 40px
  background #efeff0
  border-bottom 1px solid #dddddd
  .top--back
    width 25%
    text-align center
    color #101010
    &:before
      vertical-align 0.25em
      content '< 返回'
      font-size 15px
  .top--title
    vertical-align 0.2em
    text-align center
    font-size 18px
    width 50%
    color #2a2a2a
  .header-home
    width 25%
    text-align center
    color #494949
    .icon
      vertical-align 0
      height 40px
      font 22px/40px a

