header.top
  &.free
    border-color #67c87a
  &.female
    border-color #ff74ac
  &.male
    border-color #7b4cd2
  .top--back
    width 25%
    text-align center
    color #101010
    .back
      display inline-block
      height 80%
      width 80%
      .back-icon
        &:before
          margin-top -1px
          content ''
          display inline-block
          width 0.5em
          height @width
          border 2px solid
          border-top-color transparent
          border-right-color transparent
          -webkit-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%) translate(12%)
          -moz-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%) translate(12%)
          -o-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%) translate(12%)
          -ms-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%) translate(12%)
          transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%) translate(12%)
        &:after
          content '返回'
          display inline-block
          position relative
          top -0.3em

  .top--title
    vertical-align 0.2em
    text-align center
    font-size 20px
    max-width 50%
    color #2a2a2a
    overflow hidden
    text-overflow ellipse
    white-space nowrap
  .header-home
    width 25%
    text-align center
    color #494949
    .icon
      vertical-align 0
      height 40px
      font 22px / 40px a

