.green {
  background-color: #46ff69;
}
.greenlight {
  background-color: #dbffcf;
}
.blue {
  background-color: #5987ff;
}
.bluelight {
  background-color: #dadbff;
}
.yellow {
  background-color: #f4ff3f;
}
.yellowlight {
  background-color: #fffdc5;
}
.red {
  background-color: #ff1214;
}
.redlight {
  background-color: #ff635c;
}
.black {
  background-color: #121312;
}
.gree {
  background-color: #7c837c;
}
.white {
  background-color: #ffffe9;
}
.orange {
  background-color: #ff5202;
}
.orangelight {
  background-color: #ffa579;
}
.pink {
  background-color: #ff9b9e;
}
.pinklight {
  background-color: #ffd1d6;
}
