.catalog
  margin 0 2%
  ul
    .item
      text-indent 0.5em
      letter-spacing 0.1em
      font 14px / 2.8 a
      border-bottom 1px solid #dedede
      color #6e6e6e
      &.select
        color #ff6745



