header#header
  ul.header-tab
    li.item
      i.header-check.icon(v-bind:class='{"icon-check":headerCheckFlag === true, "icon-uncheck":headerCheckFlag === false}' @click='headerCheckFlag = true')
    li.item.item-bookshelf.tab-item
      a.select(href="javascript:")(v-bind:class='{"select":selectTagStyle()}') 书城
    li.item.item-bookstore.tab-item
      a(href="javascript:") 书架
    li.item
      a(href="#")
        i.header-user.icon.icon-user
    i.item-line-x(style="transition-duration:0;transform:translate3d(0,0,0)")
