- if(typeof style === 'undefined') style = ''
header.top(class='#{style}')
  span.top--back
    a(v-on:click='backUrl').back
      i.back-icon
  - var navTitle = ''
  - (typeof datas === 'undefined') ?  navTitle = title.replace('页','') : navTitle = datas.item.title
  span.top--title #{navTitle}
  span.header-home
    a(href='/')
      i.icon.icon-home
