#app
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  .header
    position absolute
    top 0
    left 0
    right 0
  .container
    overflow hidden
    overflow-y auto
    position absolute
    top 46px
    left 0
    right 0
    bottom 0


