extends ../../layout
block style
  - var name = 'search'
  link(rel='stylesheet' href='/#{name}/font-icon/font.min.css')
  link(rel='stylesheet' href='/#{name}/main.min.css')
block content
  #app
    .header
      include include/search-header
    .container
      include include/search-tabs
      include include/search-content
block script
  script(src='//cdn.bootcss.com/vue/2.2.1/vue.min.js')
  script(src='//cdn.bootcss.com/axios/0.15.3/axios.min.js')
  script(src='/#{name}/bundle.min.js')
