#header
  tab-item-sum = 4
  font-size 16px
  height 3rem
  text-align center
  background-color #f6f6f6
  line-height @height !important
  .header-tab
    .item
      vertical-align top
      display inline-block
      width (100% / tab-item-sum)
      font-size 14px
      border-bottom 0.2rem solid #eaeaea
      height 100%
      &.header-check.icon-check
        color #ff4e35
        cursor pointer
      a
        position relative
        top 50%
        transform translateY(-45%)
        color #686868
        //margin-top margin-top
        /*防止点击a标签在某些浏览器出现高亮效果*/
        //-webkit-tap-highlight-color rgba(0,0,0,0)
        .icon
          color #ababab
          display inline-block
          &.icon-user
            font-size 17px
            //margin-top -2px
          &.icon-search
            font-size 15px
            margin-top 0
      &.header-user
        a
          transform translateY(-35%)
      &.select
        border-color #c2c2c2
        border-radius 1px
        a
          color #ff5027
          //&:after
          //  content ''
          //  position absolute
          //  //font-size 16px
          //  //width 3em
          //  //margin-left -2.3em
          //  width 100%
          //  transform translateX(-50%)
          //  margin-left -1em
          //  border-bottom 3px solid #aaaaaa
          //  bottom (margin-top - 1px)
          //border-radius 2px
