.top-home
  background-color #ffffff
  border-bottom 10px solid #f5f5f5
  .top-home--search
    border 1px solid #ededed
    margin 12px 10px
    color #cccccc
    font 11px / 2.2 a
    .icon-search
      padding 0 15px
      vertical-align -1px
  .top-home--banner
    a
      .cover
        width 100%
  .top-home--btn
    item-sum = 5
    font-size 0
    margin 8px 0 5px
    .item
      text-align center
      display inline-block
      width (100% / item-sum)
      p
        color #7b7b7b
        font-size 12px
        margin 5px 0
      .icon
        font-size 25px
        &.icon-money
          color #ffb648
        &.icon-male
          color #9a6dff
        &.icon-female
          color #ff35a7
        &.icon-category
          color #51b3ff
        &.icon-rank
          color #ff7a51




