.top-home
  background-color #ffffff
  border-bottom 10px solid #f5f5f5
  .top-home--banner
    item-sum = 2
    width item-sum * 100%
    li
      display inline-block
      width (100% / item-sum)
      vertical-align top
      a
        width 100%
        .cover
          width 100%
  .top-home--btn
    item-sum = 4
    margin-top -0.5em
    .item
      text-align center
      display inline-block
      width (100% / item-sum)
      p
        color #7b7b7b
        font-size 12px
        margin 5px 0
      .icon
        font-size 25px
        //&.icon-money
        //  color #5ed177
        //&.icon-male
        //  color #854fff
        //&.icon-female
        //  color #ff1ba2
        //&.icon-hot
        //  color #fd0f0d
        &.icon-money
          color #7bd192
        &.icon-male
          color #9a6dff
        &.icon-female
          color #ff35a7
        &.icon-hot
          color #fd3b39
        &.icon-category
          color #51b3ff
        &.icon-rank
          color #ff7a51




