.search-tabs
  transition 1s
  opacity 1
  height auto
  width 85%
  margin 0.8em auto
  .item
    cursor pointer
    color #686868
    box-sizing border-box
    background-color #ffbbcf
    padding 0.5em  1.3em
    margin 3% 4.5%
    font 16px / 1.2 a
    border-radius 7px
    box-shadow 1px 1px 7px #ccc
    &:nth-child(odd)
      background-color #ffdebc


